In [23]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
my_taxes

10.0

In [30]:
# Use Single quotes inside double quotes
print("I don't like errors!")

I don't like errors!

In [32]:
print("new\nline")

new
line

In [26]:
my_str = 'This is a test string!'

In [27]:
my_str[0]

'T'

In [28]:
my_str[-1]

'!'

In [34]:
my_str[2:10]

'is is a '

In [36]:
my_str[:10]

'This is a '

In [35]:
my_str[2:]

'is is a test string!'

In [37]:
my_str[::]

'This is a test string!'

In [38]:
my_str[::3]

'Tss ssi!'

In [39]:
my_str[::-1]

'!gnirts tset a si sihT'

In [40]:
'Hello World'[8]

'r'

In [42]:
name = 'Sam'

In [44]:
new_name = 'P' + name[1:]
print(new_name)

Pam

In [45]:
a = 'A'
print(10 * a)

AAAAAAAAAA

In [47]:
x = 'Hello World'

In [51]:
x.upper()

'HELLO WORLD'

In [53]:
x.lower()

'hello world'

In [56]:
x.split()

['Hello', 'World']

In [57]:
x.split('o')

['Hell', ' W', 'rld']

In [59]:
print('This is a string {}'.format('Inserted'))

This is a string Inserted

In [61]:
print('{} {} {}'.format('One', 'Two', 'Three'))

One Two Three

In [63]:
print('{2} {0} {1}'.format('One', 'Two', 'Three'))

Three One Two

In [64]:
print('{a} {b} {c}'.format(a='One', b='Two', c='Three'))

One Two Three

In [65]:
result = 1542.658422515158432
print('The result was {f}'.format(f=result))

The result was 1542.6584225151585

In [67]:
# float formating follows "{value:width.precision}"
print('The result was {f:1.5f}'.format(f=result))

The result was 1542.65842

In [68]:
# F string
name = 'Atillio'
print(f'Hello, my name is {name}')

Hello, my name is Atillio

In [70]:
age = 26
print(f'{name} is {age} years old.')

Atillio is 26 years old.

https://pyformat.info/    For more info on formating strings